html, body {
  padding: 0;
  margin: 0;
  font-family: Kanit;
  list-style: none;
}

a {
  color: inherit;
  display: block;
  transition:.2s;
  text-decoration: none !important;
}
a:hover{
  background-color: rgba(255, 255, 255, .1);
}

* {
  box-sizing: border-box;
  border: none;
  outline: none;
  padding: 0px;
  margin: 0px;
  text-decoration: none !important;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}